
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>CreateEvent</title>
</head>
<body>
    <h2>Меню</h2>
    <table>
        <tr>
            <th>События</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("добавить", "CreateEvent", "Event")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("список событий", "AllEvent", "Event")</td>
        </tr>
    </table>
    @using (Html.BeginForm("Create", "Event", FormMethod.Post))
    {
        <label>Дата:</label><br />
        <input type="date" name="Date" required /> <br />
        <label>Название:</label><br />
        <input type="text" name="Name" required /> <br />

        <input class="create" type="submit" value="создать" />
    }
</body>
</html>
